$background-color : rgb(226, 222, 222);
$base-margin: 40px;


body{
    background-color: $background-color;
    color: cadetblue;
    margin: 0;
}

@import 'Reset';
@import 'App';
@import 'SearchForm';
@import 'GeocodeResult';
@import 'Map';
@import 'HotelsTable';
@import 'HotelsClickable';