$background-color : rgb(226, 222, 222);


body{
    background-color: $background-color;
    color: cadetblue;
}

@import 'Reset';
@import 'App';
@import 'SearchForm';
@import 'GeocodeResult';
@import 'Map';
@import 'HotelsTable'